
<h1>Booking History</h1>
<div class="container">
    <div class="card">
        <div class="card -body">

<mark >
    Email Id : <input [value]="email" placeholder="Enter your email id" #element/>
    <br>
    <br>
    <button class ="btn btn-primary" (click)="viewHistory(element.value)">view records</button>

</mark>

<div *ngIf="bookingRecords.length>0">
    <table class="table table-responsive" align ="center" style="width: 80%" border="1">
        <thead>
            <th>PNR</th>
            <th>Name</th>
            <th>Email</th>
            <th>Flight Number</th>
            <th>Airline Name</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Flight Date</th>
            <th>Booking Date</th>
            <th>Meal</th>
            <th>No of Seats</th>
            <th>Total amount</th>
            <th>Status</th>
            
        </thead>
<tbody>
<tr *ngFor ="let b of b of bookingRecords ">
<td>{{b.pnr}}</td>
<td>{{b.name}}</td>
<td>{{b.email}}</td>
<td>{{b.flightNumber}}</td>
<td>{{b.airlineName}}</td>
<td>{{b.source}}</td>
<td>{{b.destination}}</td>
<td>{{b.flightDate}}</td>
<td>{{b.bookingDate}}</td>
<td>{{b.meal}}</td>
<td>{{b.noOfSeat}}</td>
<td>{{b.total_amount}}</td>
<td>{{b.status}}</td>
<!-- <tr *ngFor="let passengers of bookingRecord">
    <td>{{passengers.name}}</td>
    <td>{{passengers.age}}</td>
    <td>{{passengers.gender}}</td>
    <td>{{passengers.seatNo}}</td>

</tr> -->
</tr>
</tbody>
 </table>
 </div>
               
</div>
</div>
</div>

