div{
    
    h1{
        color: rgb(61, 15, 15);
    }
    mark{
        li{
            background-color: rgb(95, 51, 199);
            color: rgb(87, 14, 14);
        }
    }

    background-color: rgb(95, 51, 199);
}