button{
    background-color:aliceblue;
    color: black;
    font-variant-caps: normal;
    padding: 15px;
    border-color:rgb(1, 14, 14);
    margin-block-end: 10px;
    border-width:thin;
    margin-right: 10px;
}
