 <div id="header">
                    <h1>Get Your Flight</h1>
                </div>
<div class="container">
    <div class="card">
        <div class="card -body">

<mark >
    <div>
    Arrival CIty :  <input [value]="destination" placeholder="Enter Arrival city" #element>

    </div>
    <br>
    <div>
    Departure City : <input  [value]="source" placeholder="Enter Departure city" #element1/>
    </div>
    <br>
    <button class ="btn btn-primary" (click)="getFlights(element.value,element1.value)">Search Flights</button>

</mark>
<div *ngIf="flights.length > 0">
    <table class="table table-stripped" style="width: 80%" border="1">
        <thead>
            <th>Id</th>
            <th>Flight Number</th>
            <th>Airline Name</th>
            <th>Arrival city</th>
            <th>Departure City</th>
            <th>Departure Time</th>
            <th>Price</th>
            <th>Book Flight</th>
        </thead>
<tbody>
<tr *ngFor ="let flight of flights">
<td>{{flight.id}}</td>
<td>{{flight.flight_number}}</td>
<td>{{flight.airline_name}}</td>
<td>{{flight.arrival_city}}</td>
<td>{{flight.departure_city}}</td>
<td>{{flight.departure_time}}</td>
<td>{{flight.price}}</td>
<button (click)="bookTicket(flight.id)">Book</button>
</tr>

</tbody>
 </table>
 </div>
               
</div>
</div>
</div>
